body {
    background-color: #a3f4ff;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
}
h1, h2 {
    color: #000cad;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 0 20px;
    font-size: 30px;
}
nav a {
    text-decoration: none;
    color: #202fff;
}
nav a:hover {
    color: #5963fa;
}
img {
    display: block;
    width: 50%;
    margin: 0 auto;
}